{{>header}}
{{>menu}}
<div id='main'>
<body class='col bg-correct'>
	<h1 class=>This is the news</h1>
	<p>News and stuff</p>
	<img src=https://timesofindia.indiatimes.com/thumb/msid-89307189,width-1200,height-900,resizemode-4/89307189.jpg width=100></img>
	<br>
	{{>footer}}
</div>
</body>