{{>header}}
<body>
<div id='main'>
		<div class="jumbotron bg-dark text-white">
			<div class="row"><h1>Welcome to my webpage</h1></div>
			<div class='row'><a class="btn btn-default" style='float: right;' href="/login" role="button">Sign in</a></div>
		</div>
		
	<div class="container">
	
		<div class="card">
			<div class="card-header">
				Why are you here
			</div>
			<div class="card-body">
				<h5 class="card-title">Welcome</h5>
				<p class="card-text">I mean I'm happy you're here but IDK why</p>
				<a href="/leave" class="btn btn-primary">Leave</a>
			</div>
		</div>
		{{>footer}}
	</div>
</div>
</body>