{{>header}}
<body>
		<H1>Am i not good enough for you?</H1>
		<iframe src="https://giphy.com/embed/aBOFW2LNUR9uT5lLYr" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
			{{>footer}}
</body>
