{{>header}}
<body>
	<form action="/signup" method="post">
		Username: <input id="username" name="username" type="text"/>
    Password: <input id="password" name="password" type="text"/>
    <input type="submit" value="Sign up"/>
  </form>
	<script src="../scripts/script.js"></script>
	{{>footer}}
</body>