{{>header}}
<body>
	<div class="card">
			<div class="card-header">
				Successfully signed up!
			</div>
			<div class="card-body">
				<p class="card-text">You have successfully signed up!</p>
				<a href="/home" class="btn btn-primary">Home</a>
			</div>
		</div>
	{{>footer}}
</body>